<% @page_title = "プチプラガイド" %>
<h1 class="title_name"><%= @page_title %></h1>
<table class="attr_inquiries">
  <tr>
    <th>よくある質問</th>
    <td></td>
  </tr>
  <tr>
    <th>Q1,システムに不具合が起きました。どのように対応するのでしょうか。</th>
    <td>A,管理者にご連絡頂けるとありがたいです。即対応致します。</td>
  </tr>
  <tr>
    <th>Q2,出勤時間の交渉をしましたが連絡を頂けません。どうのように対応するのでしょうか。</th>
    <td>A,大変お手数ですが、管理者にメールでご連絡ください。即対応致します。</td>
  </tr>
  <tr>
    <th>Q3,当日に人材が必要になりました。人材確保はできませんでしょうか。</th>
    <td>A,システム上、翌日のご依頼のみ連絡が取れるように設定してありますので、別の方法でご対応の程、宜しくお願い致します。</td>
  </tr>
  <tr>
    <th>Q4,パスワードを忘れました。どのように対応するのでしょうか。</th>
    <td>A,管理者にメールでご連絡ください。一旦、パスワードをリセットし、メールで再度ログイン用のパスワードをお知らせ致します。</td>
  </tr>
  <tr>
    <th>Q5,依頼または承認後、取り消しすることは出来ますか？</th>
    <td>A,依頼側、承認側ともに事情により、取り消しをする場合は、システム上、依頼承認後3日以内分の取り消しは出来ませんのでご了承願います。3日以内分の取り消しの場合は、直接やり取りの程、宜しくお願い致します。</td>
  </tr>
  <tr>
    <th>Q6,午前または午後に出勤不可の場合の時刻の設定表記は？</th>
    <td>A,午前または午後の出勤不可の場合の時刻の設定は、システム上00:00での表示にて共通認識でお願い致します。</td>
  </tr>
  <tr>
    <th>Q7,承認した後に取り消しを行いました。出勤退勤時間が元々登録された時間になっていません。何故でしょうか？</th>
    <td>A,承認すると出勤退勤時間は上書き保存されます。承認後の取り消しの場合は、編集から出勤退勤時間を元々の時間に変更して下さい。</td>
  </tr>
  <tr>
    <th>Q8,出勤一覧に過去の日付けで勤務状況「未決定」が残っています。どのように対応するのでしょうか？</th>
    <td>A,大変お手数ですが、各々で削除して下さい。</td>
  </tr>
</table>
