<h1>プチプラガイド</h1>
<table class="attr">
  <tr>
    <th>よくある質問</th>
    <td><td>
  </tr>
  <tr>
    <th>Q1</th>
    <td><td>
  </tr>
  <tr>
    <th>Q2</th>
    <td><td>
  </tr>
  <tr>
    <th>Q3</th>
    <td><td>
  </tr>
  <tr>
    <th>Q4</th>
    <td><td>
  </tr>
  <tr>
    <th>Q5</th>
    <td><td>
  </tr>
</table>
