<% @page_title = "プチプラガイド" %>
<h1 class="title_name"><%= @page_title %><h1>
<table class="attr">
  <tr>
    <th>よくある質問</th>
    <td><td>
  </tr>
  <tr>
    <th>Q1,システムに不具合が起きました。どのように対応するのでしょうか。</th>
    <td>A,管理者にご連絡頂けるとありがたいです。即対応致します。<td>
  </tr>
  <tr>
    <th>Q2,出勤時間の交渉をしましたが連絡を頂けません。どうのように対応するのでしょうか。</th>
    <td>A,大変お手数ですが、管理者にメールでご連絡ください。即対応致します。<td>
  </tr>
  <tr>
    <th>Q3,当日に人材が必要になりました。人材確保はできませんでしょうか。</th>
    <td>A,システム上、翌日のご依頼のみ連絡が取れるように設定してありますので、別の方法でご対応の程、宜しくお願い致します。<td>
  </tr>
  <tr>
    <th>Q4,パスワードを忘れました。どのように対応するのでしょうか。</th>
    <td>A,管理者にメールでご連絡ください。一旦、パスワードをリセットし、メールで再度ログイン用のパスワードをお知らせ致します。<td>
  </tr>
  <tr>
    <th>Q5,非承認で対応しますが、登録した時間が変更になっています。どうのように対応するのでしょうか。</th>
    <td>A,システムの都合上、時間が変更されて登録されています。ご自身でメモ帳に記録しておいてください。システムの改善に努めます。<td>
  </tr>
</table>
