<% @page_title = "承認確認" %>
<h1 class="title_name"><%= @page_title %></h1>
<%= form_for @schedule, url: approval_schedule_path do |form| %>
<%= render "body", form: form %>
<tr>
  <th><%= form.submit "出勤時間を承認する" %></th>
</tr>
<% end %>
