<% @page_title = "勤務時間の交渉" %>
<h1><%= @page_title %></h1>
<%= form_for @schedule, url: demand_schedule_path do |form| %>
  <%= render "body", form: form %>
  <%= form.submit "勤務時間の交渉メールを送る" %>
<% end %>
