<% @page_title = "月の経費の合計" %>
<h1 class="title_name"><%= @page_title %></h1>
<table class="attr">
  <thead>
    <tr>
      <td>出勤日</td>
      <td>金額</td>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
    <tr>
      <td><%= schedule.start_time.strftime("%m/%d") %></td>
      <td class="price"><%= schedule.amount %></td>
    </tr>
    <% end %>
    <tr>
      <td><button type="button", id="total">合計</button></td>
      <td ><p class="sum_price"></p></td>
    </tr>
  </tbody>
</table>
<%= link_to "戻る", business_complete_schedules_path, data: {"turbolinks" => false} %>
